$tekstgrijs: #434343;
$tekstzwart: #000000;
$rood: #ec0000;
$avenirheavy: "Avenir LT W01 85 Heavy", serif;
$avenirmedium: "Avenir LT W01 65 Medium", serif;

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin standard-font {
 font-family: $avenirmedium;
 font-size: #{(11 / 16)}em;
}

@mixin avenirheavy {
 font-family: $avenirheavy;
 font-weight: normal;
}

@mixin avenirmedium {
 font-family: $avenirmedium;
 font-weight: normal;
}

#Header {
  display: none !important;
}

.screen-logo {
  filter: grayscale(50%);
}

body {
  @include avenirmedium;
  font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include avenirheavy;
}

.login_container {
  @include avenirheavy;
  font-weight: normal;
}

.kruimelzoeken_container .sitepad ul li {
  @include avenirmedium;
  font-size: em(16);
}

.contents_container h1,
.contents_container .supernav-titel {
  font-size: em(32) !important;
}

.contents_container h2,
.contents_container .blok-titel {
  font-size: em(18) !important;
}

.iprox-rich-content {
  @include avenirmedium;
  color: $tekstgrijs;
  font-size: em(18);

  &.inleiding {
    @include avenirheavy;
    font-weight: normal;
  }
}


ul.links li,
ul.links li a {
  @include avenirmedium;
  font-size: em(16);

}

.bgcolor_none {
  ul.links li,
  ul.links li a {
    color: $tekstzwart !important;
  }
}

@media screen and (min-width: 768px) {
  .iprox-content {
    font-size: em(18);
  }
}

@media screen and (max-width: 767px) {
  .iprox-content,
  .inleiding,
  .contents_container h2,
  .contents_container .blok-titel {
    font-size: em(16);
  }
}
