$tekstgrijs: #434343;
$tekstzwart: #000000;
$rood: #ec0000;
$avenirheavy: "Avenir LT W01 85 Heavy", arial, sans-serif;
$avenirmedium: "Avenir LT Std 65 Medium", arial, sans-serif;

@mixin standard-font {
 font-family: $avenirmedium;
 font-size: #{(11 / 16)}em;
}

@mixin avenirheavy {
 font-family: $avenirheavy;
 font-weight: normal;
}

@mixin avenirmedium {
 font-family: $avenirmedium;
 font-weight: normal;
}

.screen-logo {
  filter: grayscale(100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include avenirheavy;
}

.contents_container h1,
.contents_container .supernav-titel {
 font-size: #{32 / 16}em !important;
}

.iprox-content {
  @include avenirmedium;
}

@media screen and (min-width: 768px) {
  font-size: #{18 / 16}em;
}

@media screen and (max-width: 767px) {
  font-size: #{16 / 16}em;
}
