$tekstgrijs: #434343;
$tekstzwart: #000000;
$metagrijs: #737373;
$rood: #ec0000;
$avenirheavy: "Avenir LT W01 85 Heavy", serif;
$avenirmedium: "Avenir LT W01 65 Medium", serif;

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin standard-font {
 font-family: $avenirmedium;
 font-size: #{(11 / 16)}em;
}

@mixin avenirheavy {
 font-family: $avenirheavy;
 font-weight: normal;
}

@mixin avenirmedium {
 font-family: $avenirmedium;
 font-weight: normal;
}

// #Header {
//   display: none !important;
// }

#Bar .sitepad {
    visibility: hidden;
    display: none;
}

.screen-logo {
  filter: grayscale(50%);
}

.subtitle {
  font-weight: normal;
}

body {
  @include avenirmedium;
  font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include avenirheavy;
}

.login_container {
  @include avenirheavy;
  font-weight: normal;
}

.kruimelzoeken_container .sitepad ul li {
  @include avenirmedium;
  font-size: em(16);
}

.contents_container h1,
.contents_container .supernav-titel {
  font-size: em(32) !important;
}

.contents_container h2,
.contents_container .blok-titel {
  font-size: em(24) !important;
}

.grid-superlink,
.grid-grote-knop {
  .holder {
    h2 {
      font-size: em(20) !important;
    }
  }
}

.grid-koppeling {
  ul.links {
    li {
      a {
        font-size: em(20) !important;
      }
    }
  }
}

.grid-lijst {
  ul.links {
    li {
      a {
        margin-bottom: 13px;
        line-height: #{(22 / 16)}em;
      }
    }
  }
}

.contents_container .resultaten .resultaat {
  margin-bottom: 20px;
}

.contents_container .resultaten .resultaat h2,
.contents_container .resultaten .resultaat h3,
.contents_container .resultaten .resultaat .kop {
  font-size: em(18) !important;
  margin-bottom: 8px;
}

.contents_container .resultaten .resultaat img {
  width: 220px !important;
  height: auto !important;
  float: left;
}

.contents_container .resultaten .resultaat .holder {
  float: left;
  width: calc(100% - 260px) !important;
  .summary {
    font-size: em(18);
    color: $tekstgrijs;
  }
}

.iprox-rich-content {
  @include avenirmedium;
  color: $tekstgrijs;
  font-size: em(18);

  &.inleiding {
    @include avenirheavy;
    font-weight: normal !important;
  }

  &.tekst {
    color: $tekstgrijs;
  }

  h2 {
    font-size: em(24) !important;
  }

  h3 {
    font-size: em(20) !important;
    margin: 25px 0 5px 0 !important;
  }

  .Calltoaction-blauw,
  .Calltoaction-groen,
  .Calltoaction-rood {
    a {
      font-size: em(16) !important;
    }
  }

  a.Calltoaction-blauw,
  a.Calltoaction-groen,
  a.Calltoaction-rood {
    font-size: em(16) !important;
  }

  ul {
    li {
      margin-bottom: 13px;
      line-height: #{(22 / 16)}em;
    }
  }

}

ul.links li,
ul.links li a {
  @include avenirmedium;
  // font-size: em(16);
}

.bgcolor_none {
  ul.links li,
  ul.links li a {
    color: $tekstzwart !important;
  }
}

@media screen and (min-width: 768px) {
  .iprox-content {
    font-size: em(18);
  }
}

@media screen and (max-width: 767px) {
  .iprox-content,
  .inleiding,
  .contents_container h2,
  .contents_container .blok-titel {
    font-size: em(16);
  }

  .contents_container .resultaten .resultaat img {
    width: 100% !important;
    max-width: 220px;
    height: auto !important;
    float: none !important;
  }

  .contents_container .resultaten .resultaat .holder {
    clear: both;
    float: none !important;
    width: 100%;
    .summary {
      font-size: em(16);
      background-color: pink;
    }
  }

}

.social_container {
  @include avenirmedium;
}
